* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container {
  background: rgba(3, 8, 56, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container p{
    margin: 10px;
}
h1 {
  color: #030838;
  font-family: Montserrat;
  font-size: 68px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.land-details p {
  color: #ff8c04;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  margin-right: 200px;
}
.land-img img{
    height: calc(100vh -  140px);
}
.land-img {
    height: calc(100vh -  140px);
}
.btn {
  width: 137px;
  height: 41px;
  border-radius: 7px;
  background: #030838;
  padding: 0.2rem;
  margin: 2%;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 10px solid #ff8c04;
  background: rgba(3, 8, 56, 0.99);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 140px;
}

.tel,
.mail img {
  width: 30px;
  height: 29px;
}
.tel,
.mail {
  display: flex;
  align-items: center;
}
.tel{
    margin-top: 10px;
    margin-bottom: 5px;
}
.foot-img {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.contact {
  margin-right: 50px;
}
.foot-img img {
  width: 206px;
}
footer p {
  margin-top: 70px;
}
