body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: rgb(10, 10, 41);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.logo {
    height: 100%;
    margin-left: 10px;
}

.login-header {
    text-align: center;
    flex: 1;
}