
.upload-box {
    background-color: lightgrey;
    border: 3px dotted rgb(10, 10, 41);
    padding: 2px;
    text-align: center;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 8px;
    right: 40px; 
}
.cloud-arrow {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url('Img/arrow.png');
    background-size: cover;
    cursor: pointer;
}

.upload-text {
    color: rgb(10, 10, 41);
    margin-top: 0px;
    font-size: 10px;
}

.upload-button {
    background-color: rgb(10, 10, 41);
    color: rgba(228, 105, 23, 0.905);
    border: none;
    padding: 2px 20px;
    border-radius: 3px;
    cursor: pointer;
    right: 50px;
}

.section-title {
    font-size: 20px;
    margin-left: 30px;
}

.field-container {
    display: flex;
    gap: 200px;
    align-items: flex-end;
    margin-left: 30px;
}

.field-container input {
    border: 2px solid rgb(10, 10, 41);
    border-radius: 5px;
}